* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
}

header{
    position: relative;
}

.title{
    font-size: 3rem;
    margin-bottom: -3.5rem;
    -webkit-text-stroke: 0.25px white;
}

.banner{
    width: 100%;
    height: 50vh;
    background-image: url(../assets/img/design1_image1.jpg);
    background-size: cover;
    background-position: 0 -18rem;
    background-repeat: no-repeat;
}

.subtitle{
    background-color: #000000;
    color: #f1f1f1;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    border: solid 1px;
}

.subtitle > h2{
    height: 100%;
    padding-top: 0.3rem;
}

.logo{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 80%;
    right: 0;
}

.logo > img{
    width: 8vw;
    background-color: #ffffff;
    border: solid 1px;
    margin-left: 1rem;
    margin-right: 5rem;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.sideBar{
    margin-left: 3rem;
}

.sideBar_list{
    list-style: none;
    width: 12.5vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainContent{
    width: calc(90vw - 4rem);
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.mainContent > p{
    margin-bottom: 1rem;
}

.mainContent_list{
    list-style: none;
}

.mainContent_list__item{
    margin-bottom: 1rem;
}

.mainContent_list__item > h3{
    font-style: italic;
}

.mainContent_list__item > p{
    text-indent: 1rem;
    margin-bottom: 1rem;
}

/*RULES*/

.titles_main{
    text-align: center;
    margin-bottom: 1.5rem;
}

.rules_list{
    list-style: none;
    width: 70%;
    margin: 0 15%;
}

.rules_list > li{
    margin-bottom: 1.5rem;
}

.rules_list__item > h4{
    margin-bottom: 0.5rem;
}

.regulations_list{
    list-style-position: inside;
}

.regulations_list__item{
    margin-bottom: 1rem;
}

.regulations_list__item > h5{
    font-size: 1rem;
}

.regulations_list__item > h5 , .regulations_list__item > p{
    display: inline;
}

.regulations_list__item > ol{
    list-style-type: lower-alpha;
}

.regulations_list__item::marker{
    font-weight: bold;
}

.allplay_list{
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 2rem;
}

/*Game info*/

.mainContent.game_info{
    align-items: center;
    width: calc(80vw - 4rem);
    margin-right: 4rem;
}

.info_titles{
    width: 70%;
}

.info_titles > h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info_titles > h4 , .info_titles > p{
    margin-bottom: 1rem;
    font-style: italic;
}

.info_titles > p{
    text-decoration: underline;
}

.schedule_table{
    width: 70%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.schedule_table > thead > tr > th{
    text-align: start;
}

.first_elem{
    text-align: center;
    padding-right: 2.5rem;
}

.schedule_table__row > td{
    line-height: 2rem;
}

.bottom_information > div{
    margin-bottom: 2rem;
}

.bottom_information > div > p{
    margin-bottom: 0.5rem;
}

.bottom_information > div > div{
    display: flex;
    justify-content: space-between;
}

.bottom_information__bold {
    font-weight: bold;
}